[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select,
.form-input,
.form-textarea,
.form-select,
.form-multiselect {
  @apply focus:border-primary-light focus:ring-primary-light border transition-[border-color];
  @apply placeholder-foreground-muted bg-background w-full py-1.5 text-sm xl:text-base !important;
}

:is(
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [type="checkbox"],
  [multiple],
  textarea,
  select,
  .form-input,
  .form-textarea,
  .form-select,
  .form-multiselect
):is(:disabled, [aria-disabled="true"]) {
  @apply text-foreground-muted cursor-not-allowed;
  @apply bg-background-muted !important;
}

[type="checkbox"] {
  @apply text-primary;
}

textarea.form-textarea {
  height: 2.45em;
  transition: height 0.3s ease;
  resize: none;
  overflow: hidden;

  &:focus {
    height: var(--max-height, 2.45em);
    overflow-y: auto;
  }
}

.content-line-1 {
  --max-height: 2.45em;
}

.content-line-2 {
  --max-height: 3.6em;
}

.content-line-3 {
  --max-height: 5.4em;
}

.content-line-4 {
  --max-height: 7em;
}

.report-row .ember-basic-dropdown-trigger,
.report-row .form-list-cell {
  align-self: start;
}
