<BasicDropdown @horizontalPosition="auto-right" as |dd|>
  <dd.Trigger>
    <button class="btn btn-default" type="button">
      <FaIcon @icon="calendar" />
    </button>
  </dd.Trigger>
  <dd.Content class="!p-0">
    <Calendar
      class="datepicker"
      @center={{this.center}}
      @selected={{@value}}
      @onCenterChange={{this.updateCenter}}
      @onSelect={{this.updateSelection}}
    />
  </dd.Content>
</BasicDropdown>
