<div ...attributes class="modal-header text-3xl text-black p-3 bg-white">
  {{yield}}
  <button type="button" class="close text-adfinis-darkgrey" aria-label="Close" {{on "click" @close}}>
    <span aria-hidden="true">&times;</span>
  </button>
</div>