.info-section {
  @extend .uk-section;

  border-top: 3px solid;
  border-bottom: 1px dashed #ddd;

  @for $i from 0 through 9 {
    &--#{$i} {
      $color: nth($status-color, $i + 1);
      border-top-color: $color;
    }
  }
}

.project-info {
  &__title {
    @extend .uk-display-block;
  }

  &__item {
    font-size: 1.1em;
  }
}
