<span
  class="group-[.active]:bg-primary group-hover:bg-background-secondary bg-background-secondary/70 px-2 py-0.5 text-foreground-primary rounded-xl text-xs lg:text-sm grid place-self-center"
>{{yield}}</span>