<span
  class="group-[.active]:bg-primary-dark group-hover:bg-secondary/90 bg-secondary px-2 py-0.5 text-foreground-primary rounded-xl text-xs lg:text-sm grid place-self-center transition-[background-color] whitespace-nowrap font-normal"
>{{yield}}</span>