<span
  class="group-[.active]:bg-primary-dark group-hover:bg-secondary/90 bg-secondary text-foreground-primary grid place-self-center whitespace-nowrap rounded-xl px-1 py-0.5 text-xs font-normal transition-[background-color] md:px-1.5 lg:px-2 lg:text-[0.8rem]"
>{{yield}}</span>