<span
  class="group-[.active]:bg-primary group-hover:bg-background-secondary/90 bg-background-secondary px-2 py-0.5 text-foreground-primary rounded-xl text-xs lg:text-sm grid place-self-center transition-[background-color]"
>{{yield}}</span>