{{! this should probably in some other place and renamed }}
<div class="w-full grid place-items-end my-2">
  <button
    type="button"
    class="btn btn-success"
    {{on "click" @onClick}}
    ...attributes
  >
    {{yield}}
  </button>
</div>