@import "ember-uikit";

@import "variables";

@import "components/data-table";
@import "components/nav-breadcrumbs";
@import "components/project-info";

@import "pages/application";
@import "pages/index";
@import "pages/loading";
@import "pages/account/login";
@import "pages/subscriptions/detail";
@import "pages/subscriptions/list";
@import "pages/subscriptions/own";
@import "pages/subscriptions/reload";

.button {
  @extend .uk-button;
  @extend .uk-button-default;
}

.text-button {
  @extend .uk-button;
  @extend .uk-button-text;
}

.icon-button {
  @extend .uk-button;
  @extend .uk-button-default;

  position: relative;
  padding-left: 60px;

  svg {
    position: absolute;
    top: 8px;
    left: 28px;
  }
}

.ember-notify {
  @extend .uk-alert;

  &.success {
    @extend .uk-alert-success;
  }

  .close {
    @extend .uk-icon;
    @extend .uk-close;
    @extend .uk-alert-close;
  }
}

.page-header,
.section {
  @extend .uk-section;
  @extend .uk-section-small;
}

.page-header__inner,
.section__inner {
  @extend .uk-container;
}

.page-header {
  &__title {
    @extend .uk-margin-remove;
  }

  &__action {
    @extend .icon-button;
    @extend .uk-button-primary;
  }
}

.table {
  @extend .uk-overflow-auto;

  & > table {
    @extend .uk-table;
    @extend .uk-table-divider;
  }

  th {
    @extend .uk-text-nowrap;
  }

  &__fetch-more {
    @extend .uk-text-center;
  }
}

.form {
  @extend .uk-form-stacked;
  @extend .uk-width-1-2;

  &__fieldset {
    @extend .uk-fieldset;
  }

  &__label {
    @extend .uk-form-label;
  }

  &__input {
    @extend .uk-form-controls;

    &__text,
    &__password {
      @extend .uk-input;
    }

    &__checkbox {
      @extend .uk-checkbox;
    }
  }

  &__cancel {
    @extend .uk-button;
    @extend .uk-button-default;
  }

  &__submit {
    @extend .uk-button;
    @extend .uk-button-primary;
  }
}
