---
name: Release

on:
  push:
    branches: [main]

jobs:
  semrel:
    permissions:
      actions: none
      checks: none
      contents: none
      deployments: none
      issues: none
      packages: none
      pull-requests: none
      repository-projects: none
      security-events: none
      statuses: none
      id-token: none

    name: Semantic Release
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.semrel.outputs.version }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Semantic Release
        uses: go-semantic-release/action@v1
        id: semrel
        with:
          github-token: ${{ secrets.ADFINISBOT_PAT }}
          allow-initial-development-versions: true

  containers:
    name: Release Containers
    runs-on: ubuntu-latest
    if: needs.semrel.outputs.version != ''
    needs: semrel

    strategy:
      matrix:
        config:
          - name: backend
            version-file: pyproject.toml
          - name: frontend
            version-file: package.json
          - name: customer-center
            version-file: package.json

    permissions:
      actions: none
      checks: none
      contents: none
      deployments: none
      issues: none
      packages: write
      pull-requests: none
      repository-projects: none
      security-events: write
      statuses: none
      id-token: write # needed for signing the images with GitHub OIDC using cosign

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Adjust Versions
        run: |
          sed 's/"0.0.0"/"${{ needs.semrel.outputs.version }}"/g' -i ./${{ matrix.config.name }}/${{ matrix.config.version-file }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}/${{ matrix.config.name }}
          flavor: |
            latest=auto
          tags: |
            type=semver,pattern={{version}},value=${{ needs.semrel.outputs.version }}
            type=semver,pattern={{major}}.{{minor}},value=${{ needs.semrel.outputs.version }}
            type=semver,pattern={{major}},value=${{ needs.semrel.outputs.version }}
          labels: |
            org.opencontainers.image.title=${{ matrix.config.name }}
            org.opencontainers.image.description=${{ github.event.repository.description }}
            org.opencontainers.image.url=${{ github.event.repository.html_url }}
            org.opencontainers.image.source=${{ github.event.repository.clone_url }}
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.licenses=${{ github.event.repository.license.spdx_id }}

      - name: Build and Push ${{ matrix.config.name }} Docker Image
        uses: docker/build-push-action@v6
        id: docker
        with:
          context: ./${{ matrix.config.name }}/
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: |
            ${{ steps.meta.outputs.labels }}

      - name: Sign ${{ matrix.config.name }} image and attach SBOM attestation
        uses: adfinis/container-scanning-action@v0.3.0
        with:
          image-ref: ghcr.io/${{ github.repository }}/${{ matrix.config.name }}
          token: ${{ secrets.GITHUB_TOKEN }}
          digest: ${{ steps.docker.outputs.digest }}
          attest: true

  chart:
    name: Release Helm Charts
    runs-on: ubuntu-latest
    if: needs.semrel.outputs.version != ''
    needs:
      - containers
      - semrel
    permissions:
      actions: none
      checks: none
      contents: none
      deployments: none
      issues: none
      packages: write
      pull-requests: none
      repository-projects: none
      security-events: none
      statuses: none
      id-token: none

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Adjust Version
        run: |
          sed -r 's/"(0.0.0|latest)"/"${{ needs.semrel.outputs.version }}"/g' -i ./charts/*/Chart.yaml

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.0

      - name: Package Charts
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm dependency build charts/timed charts/customer-center
          helm package --destination=dist charts/timed charts/customer-center

      - name: Push Chart
        run: helm push dist/*.tgz oci://ghcr.io/${{ github.repository }}/helm
